.button{
    padding: 16px 32px;
    border-radius: 8px;
    border: none;
    background-color: var(--green-color);
    color: #fff;
    font-size: 16px;
    font-family: var(--mont-fs);
    cursor: pointer;
     transition: background-color 0.3s ease;
}
.button:disabled{
    background-color: var(--gray-color);
    cursor: not-allowed;
}
.button:hover:not(:disabled){
    background-color:  var(--dark-green-color);
}